#(#(#ADPCMCodecPlugin
#AsynchFilePlugin
#B3DAcceleratorPlugin
#BalloonEnginePlugin
#BitBltSimulation
#BMPReadWriterPlugin
#CroquetPlugin
#DeflatePlugin
#DropPlugin
#DSAPlugin
#FFTPlugin
#FileDialogPlugin
#FilePlugin
#FloatArrayPlugin
#GIFLibPlugin
#HostWindowPlugin
#IA32ABIPlugin
#InternetConfigPlugin
#JoystickTabletPlugin
#JPEGReaderPlugin
#JPEGReadWriter2Plugin
#KlattSynthesizerPlugin
#LargeIntegersPlugin
#LocalePlugin
#MacMenubarPlugin
#Matrix2x3Plugin
#MIDIPlugin
#MiscPrimitivePlugin
#QVMProfileMacSupportPlugin
#RePlugin
#SecurityPlugin
#SerialPlugin
#SocketPlugin
#SoundCodecPlugin
#SoundGenerationPlugin
#SoundPlugin
#StarSqueakPlugin
#SurfacePlugin
#UUIDPlugin
#WebProxyPlugin)
#(#BochsIA32Plugin
#FFIPlugin
#FloatMathPlugin
#Mpeg3Plugin
#PNGLibPlugin
#PSharePlugin
#PythonPlugin
#QAudioPlugin
#QVideoCodecPluginMC
#QWebcamPlugin
#UnixOSProcessPlugin)
true
false
'Mac OS'
'cogvm/macbuild/src'
'cogvm/platforms'
4
true
true
)
